@use "base/variables" as var;
@use "base/mixins" as m;

.lineup {
	background-color: var.$rosa;
	padding: 5rem 0;

	h3,
	p {
		text-align: center;
		color: var.$blanco;
	}

	.dia {
		text-transform: uppercase;
		margin: 5rem 0;
	}
}

.escenarios-contenedor {
	@include m.tablet {
		@include m.grid(2, 5rem);
	}

	p {
		color: var.$negro;
	}
}

.escenario {
	padding-top: 2rem;

	.nombre-escenario {
		&:after {
			// siempre se usa un content cuando tienes un after
			content: "";
			display: block;
			width: 20rem;
			height: 10rem;
			background-size: 15rem;
			background-repeat: no-repeat;
			background-position: center center;
			// ya para centrar
			margin: 2rem auto 0 auto;
		}
	}
}

.edm .nombre-escenario:after {
	// se usa desde el css ya compilado
	background-image: url(../img/icono_edm.png);
}

.rock .nombre-escenario:after {
	// se usa desde el css ya compilado
	background-image: url(../img/icono_rock.png);
}

.calendario {
	@include m.resetear-lista;
	li {
		padding: 2.5rem;
		font-weight: 700;
	}
	span {
		font-weight: 400;
	}
}

.bg-verde {
	background-color: var.$verde;
	li:nth-child(odd) {
		background-color: darken(var.$verde, 20%);
	}
}

.bg-amarillo {
	background-color: var.$amarillo;
	// para seleccionar cual quieres
	// odd selecciona los impares
	li:nth-child(odd) {
		background-color: darken(var.$amarillo, 20%);
	}
}
